---
import Layout from "../layouts/Layout.astro";
import Spacer from "../components/Spacer.astro";
---

<Layout title="IconList">
  <main>
    <Spacer />
    <div class="iconlist">
      <img src="/brand-html5.svg" alt="" class="icon" />
      <img src="/brand-css3.svg" alt="" class="icon" />
      <img src="/brand-javascript.svg" alt="" class="icon" />
    </div>
    <Spacer />
  </main>
</Layout>

<script>
  console.log("Welcome, browser console!");
  // const icons = document.querySelectorAll(".icon");
  // icons.forEach((icon, index) => {
  //   //icon.classList.add("jsicon");
  //   icon.setAttribute("data", `nthChild: ${index + 1}`);
  // });
  const iconList = document.querySelector(".iconList")!;

  if (!!window.IntersectionObserver) {
    let observer = new IntersectionObserver((entries, observer) => {
      entries.forEach((entry) => {
        console.log("test");
        if (entry.isIntersecting) {
          console.log(entry);
          entry.target.classList.add("isintersecting");
          observer.unobserve(entry.target);
        }
      });
    });
    const iconList = document.querySelector(".iconlist")!;
    console.log(iconList);
    observer.observe(iconList);
  }
</script>

<style>
  main {
    text-align: center;
    overflow-x: hidden;
  }
  .iconlist {
    position: relative;
  }
  .icon {
    width: 64px;
    transform: translateX(100vw);
  }
  .iconlist.isintersecting .icon {
    animation: 1s slide-in forwards;
  }
  .iconlist .icon:nth-child(2) {
    animation-delay: 0.25s;
  }
  .iconlist .icon:nth-child(3) {
    animation-delay: 0.5s;
  }
  @keyframes slide-in {
    from {
      transform: translateX(100vw);
    }

    to {
      transform: translateX(0vw);
    }
  }
</style>
