---
import Layout from "../layouts/Layout.astro";
import LoremIpsum from "../components/LoremIpsum.astro";
---

<Layout title="Welcome to Astro.">
	<main>index</main>
</Layout>

<style>
	main {
		text-align: center;
	}
</style>
