---
import Layout from "../layouts/Layout.astro";
import LoremIpsum from "../components/LoremIpsum.astro";
import Clock from "../components/Clock.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		index
		<Clock />
	</main>
</Layout>

<style>
	main {
		text-align: center;
	}
</style>
